nav {
    display: grid;
    grid-row: 1;
    font-size: calc(10px + 25vw / 10);

    .sitename {
      grid-column: 1;
      font-size: calc(10px + 25vw / 10);
      font-weight: bold;
      text-transform: lowercase;
      margin-left: 1%;
      margin-top: 1%;
    }

    .links {
      grid-column: 5;
    }

    .hidden {
        display: none;
    }

    a {
        color: black;
        text-decoration: none;
        margin-right: 5%;
        transition: border-bottom 0.25s, padding-bottom 0.5s linear;
        
    }
    
    a:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid black;
      
    }
    
    .link {
      margin-right: 5%;
    }
}
