#start {
    grid-row: 10;
    @media screen and (max-device-width: 1024px)  {
        grid-row: 25/45;
    }
    .centerMeDaddy {
        display: grid;
        grid-row: 10;

        @media screen and (max-device-width: 1024px) {
            margin-left: 5%;
        }
        

        .title {
            font-size: calc(100px + 50vw / 10);
            font-weight: bold;
            text-transform: lowercase;
        }
        .Typist {
            // grid-column: 8/15;
            // grid-row: 4/5;
            grid-column: 11/20;
            @media screen and (max-device-width: 1024px)  {
                grid-column: 1;
            }
        }        
        .subtitle {
            font-size: calc(50px + 25vw / 10);
        }
    }
}